%submit-btn {
    background: $main-blue;
    border-color: $main-blue;
    color: $main-white;
    text-transform: capitalize;
    width: 22rem;
    height: 3em;
    font-size: 22px;
    border-radius: 20px;
    line-height: 2.5;
}

$main-font-family: "proxima_novaregular";